body{
    background-color: rgb(73, 71, 35);
    text-align: center;
}
.texto{
    background-color: rgb(113, 233, 173);
    text-align: center;
    border-radius: 50px;
    font-size: large;
    font-family: cursive;
    border: 5px;
    box-shadow: 0 0 20px rgba(7, 243, 58, 0.5);
}
.titulo {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px;
    text-shadow: 0 0 20px rgba(154, 228, 224, 0.747);
    
}
.imag{
    border-radius: 50px;
    width: 650px;
    height: 650px;
    border: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}